<div class="container-fluid my-4">
    <div class="mb-4">
        <h2 class="fw-bold">All Products</h2>
        <p>Here you will find all the products available in out store.</p>
    </div>

    <div class="row d-flex justify-content-center align-items-center my-4">
        <div class="col-sm-12 col-md-8">
            <div class="input-group me-2 my-2">
                <span class="input-group-text" id="basic-addon1" style="background-color:transparent;border:0px;"><i class="pi pi-search"></i></span>
                <input [(ngModel)]="searchval" style="background-color:transparent;border:0px;" type="text" class="form-control py-2" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1"/>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex">
            <p-dropdown class="w-50 mt-2 me-3 mt-lg-0" [options]="options" [(ngModel)]="selectedOption" optionLabel="name" [showClear]="false" placeholder="Sort By:"></p-dropdown>
            <p-multiSelect class="w-75 mt-2  mt-lg-0"  [options]="options1" [(ngModel)]="selectedOption1" optionLabel="name" [showClear]="false" placeholder="Show by:"></p-multiSelect>
        </div>
    </div>

    <h6 class="d-none">Total Products: {{productsList[0]?.name}}</h6>

    <div class="table-custom mt-4">
        <table class="table table-striped table-light">

            <thead>
              <tr>
                <th *ngIf="checkvalue('sno')" scope="col">Sno.</th>
                <th *ngIf="checkvalue('name')" scope="col">Name</th>
                <th *ngIf="checkvalue('price')" scope="col">Price</th>
                <th *ngIf="checkvalue('rating')" scope="col">Rating</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>

            <tbody *ngIf="selectedOption.value==='1'">

                <tr *ngFor="let each of oldestProducts | searchFilter:searchval; index as i">
                    <th *ngIf="checkvalue('sno')" scope="row">{{i+1}}</th>
                    <td *ngIf="checkvalue('name')">{{each.name}}</td>
                    <td *ngIf="checkvalue('price')">{{each.price | currency: '$'}}</td>
                    <td *ngIf="checkvalue('rating')"><p-rating [(ngModel)]="each.rating" [readonly]="true" [cancel]="false" [stars]="5"></p-rating></td>
                    <td><button class="btn btn-warning text-light btn-sm" (click)="setProductToEdit(each)" data-bs-toggle="modal" data-bs-target="#editProductModal"><i class="pi pi-pencil"></i></button></td>
                    <td><button class="btn btn-danger text-light btn-sm" (click)="setProductToEdit(each)" data-bs-toggle="modal" data-bs-target="#dltProductModal"><i class="pi pi-trash"></i></button></td>
                </tr>   

                <!-- this is the last row showing total users, itemsperpage and previous and next button for pagination -->
                <tr>
                    <td>
                        <b>Total Items:</b> {{ totalItems }}
                    </td>
                    <td>
                        <b>Items per page:</b> {{ itemsPerPage }}
                    </td>
                    <td colSpan="5">
                        <div className="container d-flex justify-content-center align-items-center">
                            <button class="btn custombtn pi pi-angle-left me-3" (click)="previousPage()" [disabled]="currentPage === 1"></button>
                            <span>{{ currentPage }}/{{ calculateTotalPages() }}</span>
                            <button class="btn custombtn pi pi-angle-right ms-3" (click)="nextPage()"></button>
                        </div>
                    </td>
                </tr>

            </tbody>
            
            <tbody *ngIf="selectedOption.value==='2'">

                <tr *ngFor="let each of newestProdList | searchFilter:searchval; index as i">
                    <th *ngIf="checkvalue('sno')" scope="row">{{i+1}}</th>
                    <td *ngIf="checkvalue('name')">{{each.name}}</td>
                    <td *ngIf="checkvalue('price')">{{each.price | currency: '$'}}</td>
                    <td *ngIf="checkvalue('rating')"><p-rating [(ngModel)]="each.rating" [readonly]="true" [cancel]="false" [stars]="5"></p-rating></td>
                    <td><button class="btn btn-warning text-light btn-sm" (click)="setProductToEdit(each)" data-bs-toggle="modal" data-bs-target="#editProductModal"><i class="pi pi-pencil"></i></button></td>
                    <td><button class="btn btn-danger text-light btn-sm" (click)="setProductToEdit(each)" data-bs-toggle="modal" data-bs-target="#dltProductModal"><i class="pi pi-trash"></i></button></td>
                </tr>         
                
                <!-- this is the last row showing total users, itemsperpage and previous and next button for pagination -->
                <tr>
                    <td>
                        <b>Total Items:</b> {{ totalItems }}
                    </td>
                    <td>
                        <b>Items per page:</b> {{ itemsPerPage }}
                    </td>
                    <td colSpan="5">
                        <div className="container d-flex justify-content-center align-items-center">
                            <button class="btn custombtn pi pi-angle-left me-3" (click)="previousPage()" [disabled]="currentPage === 1"></button>
                            <span>{{ currentPage }}/{{ calculateTotalPages() }}</span>
                            <button class="btn custombtn pi pi-angle-right ms-3" (click)="nextPage()"></button>
                        </div>
                    </td>
                </tr>

            </tbody>
          </table>
    </div>
    <app-dlt-confirmation-modal [productId]="indProductId"/>
    <app-edit-confirmation-modal [productId]="indProductId"/>
</div>